/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Londrina+Solid:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&family=Londrina+Solid:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inspiration&family=Kalam&family=Londrina+Solid:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Inspiration&family=Kalam&family=Londrina+Solid:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Inspiration&family=Kalam&family=Londrina+Solid:wght@100&family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Inspiration&family=Kalam&family=Londrina+Solid:wght@100&family=Mali:wght@300&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Inspiration&family=Kalam&family=Londrina+Solid:wght@100&family=Mali:wght@300&family=Nanum+Pen+Script&family=Pangolin&family=Voltaire&display=swap');

/* Styles for the body */
 
body {
	font-family: 'Pangolin', cursive;

	color: #202030;
	background-color: #f8f8fc;

}

.myname {}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #227C75;
	font-family: 'Indie Flower', cursive; 
}

.resume-main {
	background-color: #049085;
	
}

.resume-aside {
	background-color: #4F9A6C;
	color: white
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.biography-logo{
	size: 150%;
		
}






